


a{
  text-decoration:none;
  color:#000;
}

body {
  background-color: #FF0000;
  border-color: #fff;
}

 img
{
  height: 120px;
    width: 30%;
  margin-top: 10px;
}
#form{
  background-color: #fff;
  width:400px;
  text-align:center;
  margin: 20px 200px 75px 200px; 
  color:#000;
  height : 230px;
}
#forget{
  color:
  
}
#button{
  background:#4d90fe;
   color:#fff
}
#health{
  font-weight: bold;
  font-size:1.5em;
}
#top{
  font-family: 'Open Sans', sans-serif;
   
  background-color: #0000ff;
  max-width:800px;
  color:#fff;
  text-align:center;
  height:500px;
  margin: 60px 100px 100px 250px; 
  background: repeating-linear-gradient(#4d90fe 0%,#4d90fe 50%, #eee 50.1%, #eee 100%);
}
#top input[type="email"]:invalid {
    color: red;
}

#top input[type="email"]:invalid ~ .input-validation:after {
    content: "invalid input";
    color: red;
}
#top input[type="password"]:invalid {
    color: red;
}

#top input[type="password"]:invalid ~ .input-validation:after {
    content: "invalid input";
    color: red;
}